/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# project ignore
source/itcareer-media/application-production.properties
source/itcareer-media/deploy_ec2.sh
source/itcareer-media/execute_jar_on_vm.sh
source/itcareer-media/target
source/itcareer-media/logs
source/itcareer-media/.idea
source/itcareer-media/*.iml